.Sidebar__userName
  %p.Sidebar__userName__name
    = current_user.name
  %ul.Sidebar__userName__btns
    %li.Sidebar__userName__btns_btn
      =link_to edit_user_path(current_user) do
        = fa_icon 'cog'
    %li.Sidebar__userName__btns__btn
      =link_to new_group_path, data: {turbolinks: false} do
        = fa_icon 'pencil-square-o'
.Sidebar__indexes
  .Sidebar__indexes__wrapper
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .Sidebar__indexes__wrapper__title
          = group.name
        .Sidebar__indexes__wrapper__message
          =group.show_last_message
          -# groupモデルにインタンスメソッドを定義している